{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--search product form-->
<div class="container-fluid bg-3 text-center">  
	<form action="{% url 'view_purchase_cart' %}">
	  <!-- Hidden input for category_name -->
	  <input type="hidden" name="category_name" value="{{ selected_category }}"> 
	  <input placeholder="Search product" aria-label="Search" name="product_name"/>
	  <input type="submit" value="Search" class="btn btn-success" style="background-color: #006400; border-color: #006400;"/>
	</form>  
<!--end search product form-->
  
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'all_products' %}">&#x2190; Continue Shopping</a> 
				<br>
				<br>
				<table class="table">
					
					<tr>
						<th><h5>Items: <strong>{{ purchase_cart.get_cart_items }}</strong></h5></th>
                        <th><h5>Total: <strong>{{ purchase_cart.get_cart_total|floatformat:2 }}</strong></h5></th>						
						<th>
							<a  style="float:right; margin:10px;" class="btn btn-success" href="#">Checkout</a>
						</th>
						
					</tr>
				
				</table>


			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					
					<div style="flex:2"></div>
					<div style="flex:1"><strong>Product</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
					<div style="flex:1"></div> 
					
					 
									
				</div>
			    {% for product in products %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static product.product.image %}"></div>
					<div style="flex:1">{{product.product.name}}</div>
					<div style="flex:1">{{product.product.price|floatformat:0}}</div>
					<div style="flex:1">{{product.amount}}</div>			
					<div style="flex:1">{{product.get_total|floatformat:2}}</div>
					<div>
						<div style="flex:1">
							<form method="post" action="{% url 'delete_product_from_cart' product.id %}">
								{% csrf_token %}
								<input type="hidden" name="product_id" value="{{ product.id }}">
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</div>
						
					</div>
				</div>
				
                {% endfor%}
			</div>
		</div>
	</div>
{% endblock content %}
